@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-invalid: #e50914;
    --color-invalid-hover: #f11722;
    --color-valid: rgb(13, 150, 65);
    --color-input: #333333;
    --color-bg-2: rgba(0, 0, 0, 0.4);
    --header-box-shadow: inset 10rem 10rem 24rem rgba(0, 0, 0, 0.5), inset -10rem -10rem 24rem rgba(0, 0, 0, 0.5);
  }